@model IEnumerable<AgostonVendeghaz.Models.Room>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="rooms-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center text-md-left">
                <h2 class="text-light">Szobák</h2>

                <div class="row">
                    @foreach (var room in Model)
                    {

                        <div class="col-md-4">
                            <div class="own-card">
                                <img src="~/img/hotel-1979406_640.jpg" class="card-img-top" alt="szoba">
                                <div class="own-card-body">
                                    <h5 class="card-title">@room.Type</h5>
                                    <p class="card-text text-left">@room.Description</p>
                                    <hr />
                                    <ul>
                                        <li>Szoba @room.GuestFittingInTheRoom Férőhelyes</li>
                                        <li>Elérhető szobák: @room.Available DB</li>
                                    </ul>
                                    @Html.ActionLink("Szoba foglalása", "Reserving", "RoomReservation", new { id = room.Id }, new { @class = "btn btn-primary" })

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

