@model AgostonVendeghaz.Models.NewRoomDTO

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>New</h2>

            @using (Html.BeginForm("Save", "Room"))
            {
                <div class="form-group">
                    @Html.LabelFor(r => r.Room.Type)
                    @Html.TextBoxFor(r => r.Room.Type, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(r => r.Room.GuestFittingInTheRoom)
                    @Html.TextBoxFor(r => r.Room.GuestFittingInTheRoom, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(r => r.Room.Available)
                    @Html.TextBoxFor(r => r.Room.Available, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(r => r.Room.Description)
                    @Html.TextAreaFor(r => r.Room.Description, new { @class = "form-control" })
                </div>

                foreach (var item in Model.UnitPrices)
                {
                    <div class="card border-primary mb-3 unitPriceCard" style="max-width: 18rem; display:inline-block;">
                        <div class="card-header">Unit Price @item.Id @Html.RadioButtonFor(r => r.Room.UnitPriceID, item.Id, new { @class = "form-control" })</div>
                        <div class="card-body text-primary">
                            <p>
                                Room price : @item.RoomPrice
                            </p>
                            <p>
                                Extrabed price : @item.ExtraBedPrice
                            </p>
                            <p>
                                Discount from day : @item.DiscountFromDay
                            </p>
                            <p>
                                Discount : @item.Discount
                            </p>
                            <p>
                                Tourist tax price price : @item.TouristTaxPrice
                            </p>                           
                        </div>
                    </div>
                }

                @Html.HiddenFor(r => r.Room.Id)
                @Html.AntiForgeryToken();
                <div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            }
        </div>
    </div>
</div>



